/* SPDX-FileCopyrightText: 2024 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import type { OpeningHour } from "@/types/OpeningHour";
import * as OpeningHourGetters from "@/types/OpeningHour";

defineProps<{
  openingHours: OpeningHour[];
}>();
</script>

<template>
  <section class="opening-hours">
    <div>
      <div v-for="openingHour in openingHours" :key="openingHour.id">
        {{ OpeningHourGetters.toString(openingHour) }}
      </div>
    </div>
  </section>
</template>

<style>
.opening-hours {
  border: 0.2rem solid #000000;
  background-color: #dddddd;
  max-width: 20%;
}
</style>
