/* SPDX-FileCopyrightText: 2022 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import type { Product } from "@/types/Product";
import { useI18n } from "vue-i18n";
import { RouteNames } from "@/router/route_constants";
import * as ProductGetters from "@/types/Product";

const { t } = useI18n();

const props = defineProps<{
  product: Product;
}>();

function productTitle(): string {
  return ProductGetters.productName(props.product) + " (" + ProductGetters.brandName(props.product) + ")";
}

function storeInfo(): string {
  return t("stores", 1) + ": " + ProductGetters.storeName(props.product);
}

function containerInfo(): string {
  return t("containers", 1) + ": " + ProductGetters.containerSizeInclUnit(props.product);
}

function priceInfo(): string {
  return t("prices", 1) + ": " + ProductGetters.productPriceInclUnit(props.product);
}

function tagInfo(): string {
  return t("tags", 2) + ": " + ProductGetters.tagList(props.product);
}
</script>

<template>
  <section
    class="product-summary"
    @click="
      $router.push({
        name: RouteNames.SINGLE_PRODUCT,
        params: { id: `${product.id}` },
      })
    "
  >
    <header>
      <h3>{{ productTitle() }}</h3>
    </header>
    <div>
      <div>{{ storeInfo() }}</div>
      <div>{{ containerInfo() }}</div>
      <div v-if="ProductGetters.hasAtLeastOnePrice(product)">
        {{ priceInfo() }}
      </div>
      <div v-if="ProductGetters.hasAtLeastOneTag(product)">{{ tagInfo() }}</div>
    </div>
  </section>
</template>

<style>
.product-summary {
  border: 0.2rem solid #000000;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background-color: #dddddd;
  min-width: 20%;
  max-width: 50%;
  float: left;
  text-align: left;
}
</style>
