/* SPDX-FileCopyrightText: 2022 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import type { Store } from "@/types/Store";
import { RouteNames } from "@/router/route_constants";
import * as StoreGetters from "@/types/Store";

defineProps<{
  store: Store;
}>();
</script>

<template>
  <section
    class="store-summary"
    @click="
      $router.push({
        name: RouteNames.SINGLE_STORE,
        params: { id: `${store.id}` },
      })
    "
  >
    <header>
      <h3>
        {{ StoreGetters.storeName(store) }}
      </h3>
    </header>
    <p>
      {{ StoreGetters.storeAddressStreet(store) }}
      <br />
      {{ StoreGetters.storeAddressCity(store) }}
      <br />
      {{ StoreGetters.storeAddressCountry(store) }}
    </p>
  </section>
</template>

<style>
.store-summary {
  border: 0.2rem solid #000000;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background-color: #dddddd;
  min-width: 20%;
  max-width: 50%;
  float: left;
  text-align: left;
}
</style>
