/* SPDX-FileCopyrightText: 2022 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import type { UserFeedback } from "@/types/UserFeedback";
import * as UserFeedbackGetters from "@/types/UserFeedback";

defineProps<{
  userFeedback: UserFeedback;
}>();
</script>

<template>
  <section class="userFeedback-summary">
    <div>
      <div>{{ UserFeedbackGetters.timeStamp(userFeedback) }}</div>
      <div>{{ userFeedback.feedbackText }}</div>
    </div>
  </section>
</template>

<style>
.userFeedback-summary {
  border: 0.2rem solid #000000;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background-color: #dddddd;
  min-width: 20%;
  max-width: 50%;
  float: left;
  text-align: left;
}
</style>
