/* SPDX-FileCopyrightText: 2023 The educc authors ---------------------------- ---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import { computed } from "vue";
import { RouterLink } from "vue-router";
import i18n from "@/i18n";

const props = defineProps({
  to: { type: String, required: true },
  title: { type: String, required: true },
});

const localizedUrl = computed((): string => {
  return props.to === "/" ? `/${i18n.vueI18nLocale}` : `/${i18n.vueI18nLocale}/${props.to}`;
});
</script>

<template>
  <router-link :to="localizedUrl">
    {{ title }}
  </router-link>
</template>
