/* SPDX-FileCopyrightText: 2023 The educc authors ---------------------------- ---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import { useRouter } from "vue-router";
import i18n from "@/i18n";

const router = useRouter();

function onLocaleChange(event: Event): void {
  const currentLocale = i18n.vueI18nLocale;
  const newLocale = (event.target as HTMLSelectElement).value;

  if (newLocale !== currentLocale) {
    const currentRoute = router.currentRoute;
    const newRoute = currentRoute.value.path.replace(currentLocale, newLocale);
    router.push(newRoute);
  }
}
</script>

<template>
  <select :value="i18n.vueI18nLocale" @change="onLocaleChange($event)">
    <option v-for="locale in i18n.supportedLocales" :key="locale.code" :value="locale.code">
      {{ locale.name }}
    </option>
  </select>
</template>
