/* SPDX-FileCopyrightText: 2024 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import { onBeforeMount, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useRouter } from "vue-router";
import { deleteUser, isUserLoggedIn } from "@/service/AuthenticationService";

const { t } = useI18n();
const router = useRouter();

const userLoggedIn = ref<boolean>(false);

async function handleDeleteUser(): Promise<void> {
  await deleteUser();
  forwardToHome();
}

function handleNotDeleteUser(): void {
  forwardToHome();
}

function forwardToHome(): void {
  router.push("/");
}

onBeforeMount((): void => {
  userLoggedIn.value = isUserLoggedIn();
});
</script>

<template>
  <h1>{{ t("delete_user_view.title") }}</h1>
  <span v-if="!userLoggedIn">{{ t("delete_user_view.not_logged_in_message") }}</span>
  <div v-else>
    <span>{{ t("delete_user_view.confirmation_question") }} </span>
    <div>
      <button @click="handleDeleteUser">{{ t("yes") }}</button>
      <button @click="handleNotDeleteUser">{{ t("no") }}</button>
    </div>
  </div>
</template>
