/* SPDX-FileCopyrightText: 2022 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import { useI18n } from "vue-i18n";

const { t } = useI18n();
</script>

<template>
  <div class="home">
    <span>{{ t("home_view.welcomeMessage") }}</span>
  </div>
</template>
