/* SPDX-FileCopyrightText: 2022 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import { computed, onBeforeMount, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useRouter } from "vue-router";
import { isUserLoggedIn, loginUser } from "@/service/AuthenticationService";

const { t } = useI18n();
const router = useRouter();

const enteredPassword = ref<string | undefined>(undefined);
const enteredUsername = ref<string | undefined>(undefined);
const userLoggedIn = ref<boolean>(false);
const wasLoginSuccessful = ref<boolean | undefined>(undefined);

const showFailureMessage = computed((): boolean => wasLoginSuccessful.value !== undefined && !wasLoginSuccessful.value);

async function handleSubmit(): Promise<void> {
  wasLoginSuccessful.value = await loginUser(enteredUsername.value!, enteredPassword.value!);

  enteredPassword.value = undefined;
  enteredUsername.value = undefined;

  if (wasLoginSuccessful.value) {
    router.push("/");
  }
}

onBeforeMount((): void => {
  userLoggedIn.value = isUserLoggedIn();
});
</script>

<template>
  <h1>{{ t("login_user_view.title") }}</h1>
  <span v-if="userLoggedIn">{{ t("login_user_view.already_logged_in_message") }}</span>
  <form v-else @submit.prevent="handleSubmit">
    <p>
      <input v-model="enteredUsername" :placeholder="t('login_user_view.form_placeholders.username')" />
    </p>
    <p>
      <input type="password" v-model="enteredPassword" :placeholder="t('login_user_view.form_placeholders.password')" />
    </p>
    <p>
      <button type="submit">{{ t("form_submit") }}</button>
    </p>
  </form>
  <div class="failure_message" v-if="showFailureMessage">
    {{ t("login_user_view.failure_message") }}
  </div>
</template>
