/* SPDX-FileCopyrightText: 2022 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import { onBeforeMount } from "vue";
import { useI18n } from "vue-i18n";
import { logoutUser } from "@/service/AuthenticationService";

const { t } = useI18n();

onBeforeMount((): void => {
  logoutUser();
});
</script>

<template>
  <h1>{{ t("logout_user_view.title") }}</h1>
  <span class="success_message">{{ t("logout_user_view.success_message") }}</span>
</template>
