/* SPDX-FileCopyrightText: 2022 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import type { Currency } from "@/types/Currency";
import type { Product } from "@/types/Product";
import type { Store } from "@/types/Store";
import { onMounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { fetchCurrencyList } from "@/service/CurrencyService";
import { savePrice } from "@/service/PriceService";
import { fetchProductList } from "@/service/ProductService";
import { fetchStoreList } from "@/service/StoreService";

const { t } = useI18n();

const currencies = ref<Currency[]>([]);
const products = ref<Product[]>([]);
const stores = ref<Store[]>([]);

const enteredDate = ref("");
const enteredPrice = ref("");
const selectedCurrency = ref("");
const selectedProduct = ref("");
const selectedStore = ref("");

onMounted(async (): Promise<void> => {
  currencies.value = await fetchCurrencyList();
  products.value = await fetchProductList();
  stores.value = await fetchStoreList();
});

async function handleSubmit(): Promise<void> {
  await savePrice(
    selectedCurrency.value,
    enteredPrice.value,
    selectedProduct.value,
    enteredDate.value,
    selectedStore.value,
  );

  selectedCurrency.value = "";
  enteredPrice.value = "";
  enteredDate.value = "";
  selectedProduct.value = "";
  selectedStore.value = "";
}

function filterProductsByStoreName(): Product[] | undefined {
  const store = stores.value
    ?.filter((s: Store): boolean => {
      return s.id === Number(selectedStore.value);
    })
    .at(0);
  return products.value?.filter((p: Product): boolean => {
    return p.store === store?.name;
  });
}
</script>

<template>
  <h1>{{ t("new_price_view.title") }}</h1>
  <form @submit.prevent="handleSubmit">
    <p>
      <select v-model="selectedStore">
        <option v-for="store in stores" :value="String(store.id)" :key="store.id">
          {{ store.name }}
        </option>
      </select>
    </p>
    <p>
      <select v-model="selectedProduct" :disabled="selectedStore === ''">
        <option v-for="product in filterProductsByStoreName()" :value="String(product.id)" :key="product.id">
          {{ product.name + " (" + product.container.brand + ")" }}
        </option>
      </select>
    </p>
    <p>
      <input v-model="enteredPrice" :placeholder="t('new_price_view.form_placeholders.price')" />
    </p>
    <p>
      <select v-model="selectedCurrency">
        <option v-for="currency in currencies" :value="String(currency.id)" :key="currency.id">
          {{ currency.name }}
        </option>
      </select>
    </p>
    <p>
      <input v-model="enteredDate" :placeholder="t('new_price_view.form_placeholders.purchase_date')" type="date" />
    </p>
    <p>
      <button type="submit">{{ t("form_submit") }}</button>
    </p>
  </form>
</template>

<style></style>
