/* SPDX-FileCopyrightText: 2022 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import type { Store } from "@/types/Store";
import type { Tag } from "@/types/Tag";
import { onMounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { saveProduct } from "@/service/ProductService";
import { fetchStoreList } from "@/service/StoreService";
import { fetchTagList } from "@/service/TagService";

const { t } = useI18n();

const stores = ref<Store[]>([]);
const tags = ref<Tag[]>([]);

onMounted(async (): Promise<void> => {
  stores.value = await fetchStoreList();
  tags.value = await fetchTagList();
});

const enteredName = ref("");
const enteredVolumeInMl = ref("");
const enteredWeightInG = ref("");
const enteredBrandName = ref("");
const selectedStore = ref("");
const selectedTags = ref<string[]>([]);

async function handleSubmit(): Promise<void> {
  await saveProduct(
    enteredBrandName.value,
    enteredName.value,
    selectedStore.value,
    selectedTags.value,
    enteredVolumeInMl.value,
    enteredWeightInG.value,
  );
  enteredBrandName.value = "";
  enteredName.value = "";
  selectedStore.value = "";
  selectedTags.value = [];
  enteredVolumeInMl.value = "";
  enteredWeightInG.value = "";
}
</script>

<template>
  <h1>{{ t("new_product_view.title") }}</h1>
  <form @submit.prevent="handleSubmit">
    <p>
      <input v-model="enteredName" :placeholder="t('new_product_view.form_placeholders.product_name')" />
    </p>
    <p>
      <input v-model="enteredVolumeInMl" :placeholder="t('new_product_view.form_placeholders.volume')" />
    </p>
    <p>
      <input v-model="enteredWeightInG" :placeholder="t('new_product_view.form_placeholders.weight')" />
    </p>
    <p>
      <input v-model="enteredBrandName" :placeholder="t('new_product_view.form_placeholders.brand_name')" />
    </p>
    <p>
      <select multiple v-model="selectedTags" :placeholder="t('new_product_view.form_placeholders.tags')">
        <option v-for="tag in tags" :value="String(tag.id)" :key="tag.id">
          {{ tag.name }}
        </option>
      </select>
    </p>
    <p>
      <select v-model="selectedStore">
        <option v-for="store in stores" :value="String(store.id)" :key="store.id">
          {{ store.name }}
        </option>
      </select>
    </p>
    <p>
      <button type="submit">{{ t("form_submit") }}</button>
    </p>
  </form>
</template>

<style></style>
