/* SPDX-FileCopyrightText: 2022 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import { ref } from "vue";
import { useI18n } from "vue-i18n";
import { saveStore } from "@/service/StoreService";

const { t } = useI18n();

const enteredName = ref("");
const street = ref("");
const houseNumber = ref("");
const zip = ref("");
const city = ref("");
const state = ref("");
const country = ref("");

async function handleSubmit(): Promise<void> {
  await saveStore(
    city.value,
    country.value,
    houseNumber.value,
    enteredName.value,
    state.value,
    street.value,
    zip.value,
  );
  city.value = "";
  country.value = "";
  houseNumber.value = "";
  enteredName.value = "";
  state.value = "";
  street.value = "";
  zip.value = "";
}
</script>

<template>
  <h1>{{ t("new_store_view.title") }}</h1>
  <form @submit.prevent="handleSubmit">
    <p>
      <input v-model="enteredName" :placeholder="t('new_store_view.form_placeholders.store_name')" />
    </p>
    <p>
      <input v-model="street" :placeholder="t('new_store_view.form_placeholders.street')" />
    </p>
    <p>
      <input v-model="houseNumber" :placeholder="t('new_store_view.form_placeholders.housenumber')" />
    </p>
    <p>
      <input v-model="zip" :placeholder="t('new_store_view.form_placeholders.zip')" />
    </p>
    <p>
      <input v-model="city" :placeholder="t('new_store_view.form_placeholders.city')" />
    </p>
    <p>
      <input v-model="state" :placeholder="t('new_store_view.form_placeholders.state')" />
    </p>
    <p>
      <input v-model="country" :placeholder="t('new_store_view.form_placeholders.country')" />
    </p>
    <p>
      <button type="submit">{{ t("form_submit") }}</button>
    </p>
  </form>
</template>

<style></style>
