/* SPDX-FileCopyrightText: 2024 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import { useI18n } from "vue-i18n";

const { t } = useI18n();
</script>

<template>
  <h1>{{ t("not_found_view.title") }}</h1>
</template>

<style></style>
