/* SPDX-FileCopyrightText: 2022 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import type { Price } from "@/types/Price";
import { onMounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { type RouteLocationNormalized, onBeforeRouteUpdate } from "vue-router";
import { getProductById } from "@/service/ProductService";
import { Container } from "@/types/Container";
import * as PriceGetters from "@/types/Price";
import * as ProductGetters from "@/types/Product";
import { Product } from "@/types/Product";

const { t } = useI18n();

const props = defineProps<{
  id: number;
}>();

const product = ref<Product>(new Product(new Container("", 0, 0), 0, "", [], "", []));

onMounted(async (): Promise<void> => {
  product.value = await getProductById(props.id);
});

onBeforeRouteUpdate(async (to: RouteLocationNormalized): Promise<void> => {
  product.value = await getProductById(Number(to.params.id));
});

function productTitle(): string {
  return ProductGetters.productName(product.value);
}

function storeInfo(): string {
  return t("stores", 1) + ": " + ProductGetters.storeName(product.value);
}

function brandInfo(): string {
  return t("brand") + ": " + ProductGetters.brandName(product.value);
}

function containerInfo(): string {
  return t("containers", 1) + ": " + ProductGetters.containerSizeInclUnit(product.value);
}

function tagInfo(): string {
  return t("tags", 2) + ": " + ProductGetters.tagList(product.value);
}

function priceInfo(price: Price): string {
  return PriceGetters.priceInclUnit(price);
}

function priceValidityInfo(price: Price): string {
  return PriceGetters.priceValidity(price);
}
</script>

<template>
  <main>
    <header>
      <h1>{{ productTitle() }}</h1>
    </header>
    <section>
      <h2>{{ t("products", 1) }}</h2>
      <p>
        {{ storeInfo() }}
        <br />
        {{ brandInfo() }}
        <br />
        {{ containerInfo() }}
        <br />
        {{ tagInfo() }}
      </p>
    </section>
    <section v-if="ProductGetters.hasAtLeastOnePrice(product)">
      <h2>{{ t("prices", product.prices.length) }}</h2>
      <div v-for="price in product.prices" :key="price.id">
        {{ priceInfo(price) }}
        {{ priceValidityInfo(price) }}
      </div>
    </section>
  </main>
</template>

<style></style>
