/* SPDX-FileCopyrightText: 2022 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import type { Product } from "@/types/Product";
import { onMounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import ProductSummary from "@/atoms/ProductSummary.vue";
import { fetchProductList } from "@/service/ProductService";

const { t } = useI18n();

const products = ref<Product[]>([]);

onMounted(async (): Promise<void> => {
  products.value = await fetchProductList();
});
</script>

<template>
  <h1>{{ t("products_view.title", { number: products.length }) }}</h1>
  <ProductSummary v-for="product in products" :key="product.id" :product="product" />
</template>

<style></style>
