/* SPDX-FileCopyrightText: 2022 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import { computed, onBeforeMount, ref } from "vue";
import { useI18n } from "vue-i18n";
import { isUserLoggedIn, registerUser } from "@/service/AuthenticationService";

const { t } = useI18n();

const enteredUsername = ref<string | undefined>(undefined);
const enteredPassword = ref<string | undefined>(undefined);
const userLoggedIn = ref<boolean>(false);
const wasRegistrationSuccessful = ref<boolean | undefined>(undefined);

const showSuccessMessage = computed(
  (): boolean => wasRegistrationSuccessful.value !== undefined && wasRegistrationSuccessful.value,
);
const showFailureMessage = computed(
  (): boolean => wasRegistrationSuccessful.value !== undefined && !wasRegistrationSuccessful.value,
);
const showInvalidDataMessage = ref(false);

onBeforeMount((): void => {
  userLoggedIn.value = isUserLoggedIn();
});

async function handleSubmit(): Promise<void> {
  if (enteredUserDetailsValid()) {
    showInvalidDataMessage.value = false;
    wasRegistrationSuccessful.value = await registerUser(enteredUsername.value!, enteredPassword.value!);
  } else {
    showInvalidDataMessage.value = true;
    wasRegistrationSuccessful.value = undefined;
  }
  enteredUsername.value = undefined;
  enteredPassword.value = undefined;
}

function enteredUserDetailsValid(): boolean {
  const isUsernameValid = enteredUsername.value !== undefined && enteredUsername.value!.match(/^\s*$/) === null;
  const isPasswordValid = enteredPassword.value !== undefined && enteredPassword.value!.length >= 8;
  return isUsernameValid && isPasswordValid;
}
</script>

<template>
  <h1>{{ t("register_user_view.title") }}</h1>
  <span v-if="userLoggedIn">{{ t("register_user_view.already_registered_message") }}</span>
  <form v-else @submit.prevent="handleSubmit">
    <p>
      <input v-model="enteredUsername" :placeholder="t('register_user_view.form_placeholders.username')" />
    </p>
    <p>
      <input
        type="password"
        v-model="enteredPassword"
        :placeholder="t('register_user_view.form_placeholders.password')"
      />
    </p>
    <p>
      <button type="submit">{{ t("form_submit") }}</button>
    </p>
  </form>
  <div class="success_message" v-if="showSuccessMessage">
    {{ t("register_user_view.success_message") }}
  </div>
  <div class="failure_message" v-if="showFailureMessage">
    {{ t("register_user_view.failure_message") }}
  </div>
  <div class="data_invalid_message" v-if="showInvalidDataMessage">
    {{ t("register_user_view.invalid_user_details_message") }}
  </div>
</template>
