/* SPDX-FileCopyrightText: 2022 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { type RouteLocationNormalized, onBeforeRouteUpdate } from "vue-router";
import OpeningHours from "@/atoms/OpeningHours.vue";
import ProductSummary from "@/atoms/ProductSummary.vue";
import { getStoreById } from "@/service/StoreService";
import { Address } from "@/types/Address";
import * as StoreGetters from "@/types/Store";
import { Store } from "@/types/Store";

const { t } = useI18n();

const props = defineProps<{
  id: number;
}>();

const store = ref<Store>(new Store(new Address("", "", "", "", "", ""), 0, "", [], []));

onMounted(async (): Promise<void> => {
  store.value = await getStoreById(props.id);
});

onBeforeRouteUpdate(async (to: RouteLocationNormalized): Promise<void> => {
  store.value = await getStoreById(Number(to.params.id));
});
</script>

<template>
  <main>
    <header>
      <h1>{{ StoreGetters.storeName(store) }}</h1>
    </header>
    <section>
      <h2>{{ t("address") }}</h2>
      <p>
        {{ StoreGetters.storeAddressStreet(store) }}
        <br />
        {{ StoreGetters.storeAddressCity(store) }}
        <br />
        {{ StoreGetters.storeAddressCountry(store) }}
      </p>
    </section>
    <section v-if="store.openingHours.length > 0">
      <h2>{{ t("openingHours") }}</h2>
      <OpeningHours :openingHours="store.openingHours" class="opening-hour" />
    </section>
    <section v-if="store.products.length > 0">
      <h2>{{ t("products", store.products.length) }}</h2>
      <ProductSummary v-for="product in store.products" :key="product.id" :product="product" />
    </section>
  </main>
</template>

<style></style>
