/* SPDX-FileCopyrightText: 2022 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import type { Store } from "@/types/Store";
import { onMounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import StoreSummary from "@/atoms/StoreSummary.vue";
import { fetchStoreList } from "@/service/StoreService";

const { t } = useI18n();

const stores = ref<Store[]>([]);

onMounted(async (): Promise<void> => {
  stores.value = await fetchStoreList();
});
</script>

<template>
  <h1>{{ t("stores_view.title", { number: stores.length }) }}</h1>
  <StoreSummary v-for="store in stores" :key="store.id" :store="store" />
</template>

<style></style>
