/* SPDX-FileCopyrightText: 2024 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import { onBeforeMount, ref } from "vue";
import { useI18n } from "vue-i18n";
import UserFeedbackSummary from "@/atoms/UserFeedbackSummary.vue";
import { isUserLoggedIn } from "@/service/AuthenticationService";
import { getLatestUserFeedback, saveUserFeedback } from "@/service/UserFeedbackService";
import { UserFeedback } from "@/types/UserFeedback";

const { t } = useI18n();

const enteredFeedbackText = ref<string | undefined>(undefined);
const showInvalidDataMessage = ref(false);
const userFeedback = ref<UserFeedback[]>([]);
const userLoggedIn = ref<boolean>(false);

async function handleSubmit(): Promise<void> {
  if (enteredFeedbackText.value) {
    showInvalidDataMessage.value = false;
    await saveUserFeedback(enteredFeedbackText.value!);
    userFeedback.value = await getLatestUserFeedback();
  } else {
    showInvalidDataMessage.value = true;
  }
  enteredFeedbackText.value = undefined;
}

onBeforeMount(async (): Promise<void> => {
  userLoggedIn.value = isUserLoggedIn();
  userFeedback.value = await getLatestUserFeedback();
});
</script>

<template>
  <h1>{{ t("user_feedback_view.title") }}</h1>
  <form @submit.prevent="handleSubmit">
    <p>
      <textarea v-model="enteredFeedbackText" :placeholder="t('user_feedback_view.form_placeholders.message')" />
    </p>
    <p>
      <button type="submit">{{ t("form_submit") }}</button>
    </p>
  </form>
  <div class="data_invalid_message" v-if="showInvalidDataMessage">
    {{ t("user_feedback_view.invalid_details_message") }}
  </div>
  <div>
    <UserFeedbackSummary v-for="feedback in userFeedback" :key="feedback.id" :userFeedback="feedback" />
  </div>
</template>

<style></style>
