/* SPDX-FileCopyrightText: 2022 The educc authors -------------------------------------------------
---SPDX-License-Identifier: MIT */

<script setup lang="ts">
import { onBeforeMount, ref } from "vue";
import { useI18n } from "vue-i18n";
import LocaleSwitcher from "@/i18n/LocaleSwitcher.vue";
import LocalizedRouterLink from "@/i18n/LocalizedRouterLink.vue";
import { RoutePaths } from "@/router/route_constants";
import { extractUsernameFromJWT } from "@/security/JWTHandler";
import { isUserLoggedIn } from "@/service/AuthenticationService";

const { t } = useI18n();
const userLoggedIn = ref<boolean>(isUserLoggedIn());

onBeforeMount((): void => {
  window.addEventListener("user-logged-in", (): void => {
    userLoggedIn.value = true;
  });

  window.addEventListener("user-logged-out", (): void => {
    userLoggedIn.value = false;
  });
});
</script>

<template>
  <span v-if="userLoggedIn" style="margin-right: 16px">{{
    t("hello_user", { username: extractUsernameFromJWT() })
  }}</span>
  <LocaleSwitcher />
  <nav>
    <LocalizedRouterLink :to="RoutePaths.HOME" title="Home" />
    |
    <LocalizedRouterLink :to="RoutePaths.ALL_STORES" :title="t('stores', 2)" />
    <span v-if="userLoggedIn">
      |
      <LocalizedRouterLink :to="RoutePaths.NEW_STORE" :title="t('new_store')" />
    </span>
    |
    <LocalizedRouterLink :to="RoutePaths.ALL_PRODUCTS" :title="t('products', 2)" />
    <span v-if="userLoggedIn">
      |
      <LocalizedRouterLink :to="RoutePaths.NEW_PRODUCT" :title="t('new_product')" />
    </span>
    <span v-if="userLoggedIn">
      |
      <LocalizedRouterLink :to="RoutePaths.NEW_PRICE" :title="t('new_price')" />
    </span>
    <span v-if="!userLoggedIn">
      |
      <LocalizedRouterLink :to="RoutePaths.REGISTER_USER" :title="t('register')" />
    </span>
    <span v-if="!userLoggedIn">
      |
      <LocalizedRouterLink :to="RoutePaths.LOGIN_USER" :title="t('login')" />
    </span>
    <span v-if="userLoggedIn">
      |
      <LocalizedRouterLink :to="RoutePaths.LOGOUT_USER" :title="t('logout')" />
    </span>
    <span v-if="userLoggedIn">
      |
      <LocalizedRouterLink :to="RoutePaths.DELETE_USER" :title="t('delete_account')" />
    </span>
    <span v-if="userLoggedIn">
      |
      <LocalizedRouterLink :to="RoutePaths.USER_FEEDBACK" :title="t('user_feedback')" />
    </span>
  </nav>
  <router-view />
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
